{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Register" %}{% endblock head_title %}

{% block content %}
<div class="container">


	<div class="content-section">
        <div class="media col-md-8 mt-3 offset-md-2">
            <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}">
            <div class="media-body col-md-8 mt-3 offset-md-2"">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-secondary">Last login: {{ user.last_login|date:"D d M Y" }} </p>
            <p class="text-secondary">Joined: {{ user.date_joined|date:"D d M Y" }}</p>
          </div>
        </div>
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" id="signup_form" method="post" action="{% url 'register' %}">
                    
                {% csrf_token %}
                <fieldset>
                    <legend>Join Today</legend>
                    {{ form | crispy }}
                </fieldset>
                <button class="btn btn-signup right" type="submit">{% trans "Register" %}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div>
                <br>
                <p>{% blocktrans %}blog|star profiles are inaccesible unless you are logged in.</p>
                <p><smallclass="text-muted">  Already have an account? Then please <a class="link" href="{{ login_url }}">Login</a> otherwise, please <a class="link" href="{{ register_url }}">Register</a> {% endblocktrans %}</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



